/* Footer */
footer {
    background-color: var(--card-background);
    
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.footer-social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-social a {
    color: var(--text-primary);
    text-decoration: none;
}
/* .allskills
{
    display: flex;
    justify-content: space-around;
}
.skills
{
    width: 20%;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headingofskills
{
    display: flex;
padding-left: 7vw;
    padding-bottom: 20px;
} */