/* NAVBAR */
.navbar
{
    background-color: var(--card-background);
    display: flex;
    justify-content: space-between;
    height: 12vh;
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 0.6;
   
}

#logo{   
    padding-top:1vw ;
   
 margin-left: 5vw;
}
#logo h3{
    background-image: linear-gradient(red, blue,yellow,green);
    color: transparent;
    background-clip: text;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-style: sans-serif;
}   
#options
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
 
}
#options a{
    text-decoration: none;
    color: var(--text-primary);
    font-size: medium;
    padding: 10px;
}
#options a:hover{
    color: var(--accent-color);
    transition: 0.3s;
    font-size: large;
}