.allskills
{
    display: flex;
    justify-content: space-around;
}
.skills
{
    width: 20%;
    color:var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
svg
{       width: 3vw;
    height: 3vh;
    /* background-color: #3C3D37; */
    mix-blend-mode: multiply;
}
#skills
{
    padding: 0px;
    background-color: var(--card-background);
   margin-top: 100px;
}