@import url(resumesummary.css);
@import url(projectsection.css);
@import url(contactsection.css);
@import url(mentorsection.css);
@import url(footer.css);
@import url(navbar.css);
@import url(aboutme.css);
@import url(skillsection.css);
@import url(testing.css);


    
html {
    scroll-behavior: smooth;
  }
:root {
    --background: #1A1F2C;
    --text-primary: #FFFFFF;
    --text-secondary: #8E9196;
    --accent-color: #9b87f5;
    --card-background: #2A2F3D;
}

body{
    background-color:var(--background);
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--text-primary); 
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    /* color: #333; */

}
    /* div{
        border: 1px solid wheat;
    } */


    .dark-theme {
        --bg-color: #111;
        --text-color: #fff;
      }
      

.resume-btn
{
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--accent-color);  
    /* border-radius: 10%; */
   
}
.resume
{
    width: 100%;

    display: flex;
    justify-content: center;
}
#for-light
{
display: none;
}
section
{
    padding: 4rem 2rem ;
}

h1, h2, h3 {
    color: var(--text-primary);
  }
  
  p {
    color: var(--text-secondary);
  }
  a:hover, button:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-2px);
    opacity: 0.9;
  }