/* When scrolled */
.nav-scrolled {
    background: white !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
    
}
.qwer
{
  color: black;
}

#options a.active
{
  color: #00aaff;
  border-bottom: 2px solid #00aaff;
}
.nav-links a.active {
  color: #00aaff;
  border-bottom: 2px solid #00aaff;
}
/* section {
  min-height: 100vh;
  padding-top: 80px;
  scroll-margin-top: 80px;
} */
/* Remove bottom margin from Skills */

.font-increase
{
  font-size: x-large;
  
}
.new{
  display: flex;
  width: 100%;
  justify-content: ;
  /* flex-direction: column; */
}

hr
{
  border: 2px solid var(--card-background);
}